@import './constants.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $button-height;
  width: $button-width;
  border-radius: 3px;
  background-color: $primary-color;
  margin: 10px;
  cursor: pointer;
  color: white;

  input {
    font-size: 20px;
    border: none;
    border-radius: 3px;
    padding: 5px;
    color: black;
    font-family: $primary-font;
  }
}